@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:700");

:root {
  font-size: calc(1vw + 1vh - 0.4vmin);
  --blackColor: rgb(0, 0, 100);
  --whiteColor: rgb(255, 255, 255);
  --greyColor: rgb(229, 229, 229);
  --yellowColor: rgb(238, 255, 1);
  --blueColor: rgb(0, 1, 251);
  --pinkColor: rgb(234, 20, 141);
  --greenColor: rgb(4, 255, 4);
}

body,
html {
  display: grid;
  background-color: var(--greyColor);
  font-family: "Roboto Mono", monospace;
  color: var(--blackColor);
  font-weight: 700;
  padding: 0;
  margin: 0;
}

a:link,
a:visited,
a:hover,
a:active {
  color: var(--blackColor);
  border-bottom: 0.1rem solid var(--blackColor);
  text-decoration: none;
}

a:hover,
a:active {
  border-bottom: 0.1rem solid var(--greenColor);
  color: var(--pinkColor);
  text-decoration: none;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: auto;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.title-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: auto;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 90%;
  padding: 1rem 1rem 0 1rem;
}

.title-wrapper h1 {
  font-size: 1.9rem;
  color: var(--blueColor);
  text-transform: uppercase;
  background-color: var(--greyColor);
  padding: 1rem 0.2rem;
  -webkit-box-shadow: 0.5rem 0.5rem 0.5rem var(--blueColor);
  box-shadow: 0.5rem 0.5rem 0.5rem var(--blueColor);
}

span.bigger {
  font-size: 150%;
  padding: 0 1.1rem;
  background-color: var(--yellowColor);
}

span.big {
  font-size: 200%;
  color: var(--yellowColor);
  background-color: var(--pinkColor);
  padding: 0 1rem;
  line-height: 6.4rem;
}

span.box-border {
  font-size: 89%;
  color: var(--pinkColor);
  padding: 0.3rem 0.6rem 0.3rem 0.5rem;
  border: 0.3rem solid var(--greenColor);
}

.box-border {
    font-size: 89%;
    color: var(--pinkColor);
    padding: 0.3rem 0.6rem 0.3rem 0.5rem;
    border: 0.3rem solid var(--greenColor);
  }

span.line-around {
  font-size: 100%;
  color: var(--blackColor);
  margin: 0;
  padding: 0 0.6rem 0 0.5rem;
  background-color: var(--whiteColor);
  border: 0.3rem solid var(--blackColor);
}

.login-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0 2.3rem 0 17.5rem;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

form {
  margin: 4rem 0 2rem 0;
  text-align: center;
}

form svg {
  fill: var(--blackColor);
  height: 1.4rem;
  width: 1.4rem;
  margin: 0;
  padding: 0;
}

.input-group-addon {
  border: 0.22rem solid var(--blackColor);
  background-color: var(--whiteColor);
  margin-right: 0.1rem;
  border-right: 0.22rem solid var(--blackColor);
}

input.form-control {
  background-color: var(--whiteColor);
  border: 0.2rem solid var(--blueColor);
  -webkit-box-shadow: 0.2rem 0.2rem 0.2rem var(--blueColor);
  box-shadow: 0.2rem 0.2rem 0.2rem var(--blueColor);
}

input.form-control:focus {
  background-color: var(--yellowColor);
  border: 0.2rem solid var(--blueColor);
  -webkit-box-shadow: 0.2rem 0.2rem 0.2rem var(--blueColor);
  box-shadow: 0.2rem 0.2rem 0.2rem var(--blueColor);
}

.form-control:invalid {
  background-color: var(--whiteColor);
  border: 0.2rem solid var(--pinkColor);
  -webkit-box-shadow: 0.2rem 0.2rem 0.2rem var(--pinkColor);
  box-shadow: 0.2rem 0.2rem 0.2rem var(--pinkColor);
}

.form-control:valid {
  background-color: var(--whiteColor);
  border: 0.2rem solid var(--greenColor);
  -webkit-box-shadow: 0.2rem 0.2rem 0.2rem var(--greenColor);
  box-shadow: 0.2rem 0.2rem 0.2rem var(--greenColor);
}

.login-button {
  width: 14rem;
  padding: 0.7rem;
  margin: 1rem 0 0 -1.9rem;
  border-radius: 0;
  color: var(--blueColor);
  background-color: var(--whiteColor);
  border: 0.22rem solid var(--blueColor);
  -webkit-box-shadow: 0.2rem 0.2rem 0.2rem var(--blueColor);
  box-shadow: 0.2rem 0.2rem 0.2rem var(--blueColor);
}

.login-button:link,
.login-button:visited,
.login-button:hover,
.login-button:active {
  color: var(--whiteColor);
  background-color: var(--blueColor);
  border: 0.22rem solid var(--blackColor);
  -webkit-box-shadow: 0.2rem 0.2rem 0.2rem var(--blueColor);
  box-shadow: 0.2rem 0.2rem 0.2rem var(--blueColor);
  cursor: pointer;
}

#emailHelp.form-text,
#passwordHelp.form-text {
  margin: 0.9rem 2.8rem 1.6rem 4.3rem;
  padding: 0.2rem 0.4rem;
  background-color: var(--greenColor);
  font-size: 0.8rem;
}

#loginHelp {
  margin: 0.9rem 6.2rem 0 10rem;
  padding: 0.2rem 0.4rem 0.3rem 0.4rem;
  background-color: var(--yellowColor);
  text-align: left;
  font-size: 0.8rem;
}

mash-donate-button::part(button) {
  background-color: pink;
}